/*
 *  ████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
 *  ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
 *     ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
 *     ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
 *     ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
 *     ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝
 */

/*******************************
        Theme Selection
 *******************************/

/* To override a theme for an individual element, specify theme name below */

/* Global */
@site        : 'rdm';
@reset       : 'default';

/* Elements */
@button      : 'rdm';
@container   : 'rdm';
@divider     : 'rdm';
@flag        : 'rdm';
@header      : 'rdm';
@icon        : 'default';
@image       : 'rdm';
@input       : 'rdm';
@label       : 'rdm';
@list        : 'rdm';
@loader      : 'rdm';
@placeholder : 'rdm';
@rail        : 'rdm';
@reveal      : 'rdm';
@segment     : 'rdm';
@step        : 'rdm';

/* Collections */
@breadcrumb  : 'rdm';
@form        : 'rdm';
@grid        : 'rdm';
@menu        : 'rdm';
@message     : 'rdm';
@table       : 'rdm';

/* Modules */
@accordion   : 'rdm';
@checkbox    : 'rdm';
@dimmer      : 'rdm';
@dropdown    : 'rdm';
@embed       : 'rdm';
@modal       : 'rdm';
@nag         : 'rdm';
@popup       : 'rdm';
@progress    : 'rdm';
@rating      : 'rdm';
@search      : 'rdm';
@shape       : 'rdm';
@sidebar     : 'rdm';
@sticky      : 'rdm';
@tab         : 'rdm';
@transition  : 'default';

/* Views */
@ad          : 'rdm';
@card        : 'rdm';
@comment     : 'rdm';
@feed        : 'rdm';
@item        : 'rdm';
@statistic   : 'rdm';

/*******************************
            Folders
 *******************************/

/* Path to the (default) theme packages
 *
 * This is typically used in `theme.less` (included below) to point to the
 * `node_modules/semantic-ui-less/themes` directory, which contains the themes
 * shipped with the semantic-ui-less npm package.
 */
@themesFolder : '~semantic-ui-less/themes';

/* Path to site override folder
 *
 * These paths are originally relative to the `semantic-ui-less` directory in
 * `nodes_modules` in the instance path (typically in the virtual environment).
 */
@siteFolder  : '../../less/site';
@imagesFolder : '../../images';


/*******************************
         Import Theme
 *******************************/

/* The custom `theme.less` to import
 *
 * This file is imported by each `*.less` file in `~semantic-ui-less/definitions`
 * on startup, so we need (multiple) here to actually import the "theme.less" every time.
 *
 * `themes/<name>` is aliased to an actual path in the frontend build config
 * (which is constructed according to the installed Invenio packages).
 */
@import (multiple) "themes/rdm/theme.less";

/* Path to the fonts for the current component
 *
 * The `@theme` variable gets defined in the `theme.less` imported just above,
 * and point to the configured theme for the current element (e.g. @button: "rdm").
 * This is a fix for our use of `semantic-ui-less`, and not meant to be customized.
 */
@fontPath : "../../../themes/@{theme}/assets/fonts";

/* End Config */
