# Example of a full infrastructure stack
#
# Note, this file is not suitable for a production deployment. It is only an
# example of all the infrastructure components needed in a real production
# deployment.
#
# Usage::
#
#   $ docker-compose up -f docker-compose.full.yml -d
#
# Following services are included:
# - Frontend: Nginx (exposed ports: 40 and 443)
# - UI application: UWSGI (not exposed)
# - API application: UWSGI (not exposed)
# - Cache: Redis (exposed port: 6379)
# - DB: (PostgresSQL/MySQL) (exposed port: 5432 or 3306)
# - Message queue: RabbitMQ (exposed ports: 5672, 15672)
# - Elasticsearch (exposed ports: 9200, 9300)
# - Kibana (view ES indexes) (exposed ports: 5601)
#
version: '2.2'
services:
  cache:
    extends:
      file: docker-services.yml
      service: cache
  db:
    extends:
      file: docker-services.yml
      service: db
  mq:
    extends:
      file: docker-services.yml
      service: mq
  es:
    extends:
      file: docker-services.yml
      service: es
{%- if cookiecutter.development_tools == 'yes'%}
  kibana:
    extends:
      file: docker-services.yml
      service: kibana
  {%- if cookiecutter.database == 'postgresql'%}
  pgadmin:
    extends:
      file: docker-services.yml
      service: pgadmin
  {%- elif cookiecutter.database == 'mysql'%}
  phpmyadmin:
    extends:
      file: docker-services.yml
      service: phpmyadmin
  {%- endif %}
{%- endif %}
{%- if cookiecutter.file_storage == 'S3'%}
  s3:
    extends:
      file: docker-services.yml
      service: s3
{%- endif %}
  # Frontend
  frontend:
    extends:
      file: docker-services.yml
      service: frontend
    volumes:
      - static_data:/opt/invenio/var/instance/static
    depends_on:
      - web-ui
      - web-api
    ports:
      - "80:80"
      - "443:443"
  # UI Application
  web-ui:
    extends:
      file: docker-services.yml
      service: app
    command: ["uwsgi /opt/invenio/var/instance/uwsgi_ui.ini"]
    image: {{cookiecutter.project_shortname}}
    ports:
      - "5000"
    volumes:
      - static_data:/opt/invenio/var/instance/static
      {%- if cookiecutter.file_storage == 'local'%}
      - uploaded_data:/opt/invenio/var/instance/data
      - archived_data:/opt/invenio/var/instance/archive
      {%- endif %}

  # API Rest Application
  web-api:
    extends:
      file: docker-services.yml
      service: app
    command: ["uwsgi /opt/invenio/var/instance/uwsgi_rest.ini"]
    image: {{cookiecutter.project_shortname}}
    ports:
      - "5000"
    {%- if cookiecutter.file_storage == 'local'%}
    volumes:
      - uploaded_data:/opt/invenio/var/instance/data
      - archived_data:/opt/invenio/var/instance/archive
    {%- endif %}

  # Worker
  worker:
    extends:
      file: docker-services.yml
      service: app
    command: ["celery -A invenio_app.celery worker --loglevel=INFO"]
    image: {{cookiecutter.project_shortname}}
    depends_on:
      es:
        condition: service_started
      cache:
        condition: service_started
      db:
        condition: service_started
      mq:
        condition: service_started

{%- if cookiecutter.file_storage == 'S3'%}
volumes:
  static_data:
  data:
{%- else %}
volumes:
  static_data:
  uploaded_data:
  archived_data:
{%- endif %}
