# Backend services needed for development.
#
# This file will start all the backend services needed to run InvenioRDM
# locally in development mode.
#
# Usage::
#
#   $ docker compose up -d
#
# Following services are included:
# - Cache: Redis (exposed port: 6379)
# - DB: (PostgresSQL/MySQL) (exposed port: 5432 or 3306)
# - Message queue: RabbitMQ (exposed ports: 5672, 15672)
# - OpenSearch (exposed ports: 9200, 9600)
# - Kibana (view ES indexes) (exposed ports: 5601)
#
services:
  cache:
    extends:
      file: docker-services.yml
      service: cache
  db:
    extends:
      file: docker-services.yml
      service: db
  mq:
    extends:
      file: docker-services.yml
      service: mq
  flower:
    extends:
      file: docker-services.yml
      service: flower
  search:
    extends:
      file: docker-services.yml
      service: search
{%- if cookiecutter.development_tools == 'yes'%}
  opensearch-dashboards:
    extends:
      file: docker-services.yml
      service: opensearch-dashboards
  {%- if cookiecutter.database == 'postgresql'%}
  pgadmin:
    extends:
      file: docker-services.yml
      service: pgadmin
  {%- elif cookiecutter.database == 'mysql'%}
  phpmyadmin:
    extends:
      file: docker-services.yml
      service: phpmyadmin
  {%- endif %}
{%- endif %}
{%- if cookiecutter.file_storage == 'S3'%}
  s3:
    extends:
      file: docker-services.yml
      service: s3
volumes:
  data:
{%- endif %}
