[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
# REMOVE setuptools line once celery 5.2.4 has been released.
setuptools = ">=59.1.1,<59.7.0"

[packages]
invenio-app-rdm = {extras = ["{{ cookiecutter.database }}", "elasticsearch{{cookiecutter.elasticsearch}}"{% if cookiecutter.file_storage == 'S3' %}, "s3"{% endif %}], version = "~=8.0.0"}
ipython = "!=8.1.0"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"

[requires]
python_version = "{{ cookiecutter.python_version.split()[0] }}"

[pipenv]
# Needed for invenio>v3.5.0a4 and invenio-communities
allow_prereleases = true
