[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
invenio-app-rdm = {extras = ["{{ cookiecutter.database }}", "elasticsearch{{cookiecutter.elasticsearch}}"],version = "~=0.8.0"}
invenio-rdm-records = "~=0.11.0"
invenio-records-permissions = "~=0.7.0"
{%- if cookiecutter.file_storage == 'S3'%}
invenio-s3 = "~=1.0.2"
{%- endif %}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
lxml = "<4.2.6,>=3.5.0"
marshmallow = ">=3.3.0,<4.0.0"

[requires]
python_version = "3.6"
